:root {
    --color-text: #ffffff;
    /* Text color */
    --primary: hsl(239, 84%, 67%);
    /* blue  */
    --secondary: hsl(195, 100%, 50%);
    /* --secondary: hsl(215, 100%, 50%); */
    /* lightblue */
    --thirtiary: hsl(0, 0%, 85%);
    /* gray accent */
    --background: hsl(230, 60%, 6%);
    /* Background gradient */
    --background-accent: hsl(230, 50%, 3%);
    /* donkerder */

    --gray-300: hsl(230, 10%, 70%);
    --gray-500: hsl(230, 10%, 50%);
    --gray-700: hsl(230, 10%, 30%);
}

.about-grid {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.about-grid-home {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

.about-grid-skills {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.about-text-container {
    max-width: 500px;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.about-span {
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 3rem;
}


.skill-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 10px;
}

.skill-card {
    max-height: 7rem;
    min-width: 6rem;
    flex-basis: 16.666667%;
    background-color: var(--gray-700);
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: .5rem;
    padding: 1rem;
    height: 130px;
    align-items: center;
    transition: all .3s;
    border-radius: 8px;
    transition: all .3s ease;
    border: 2px solid transparent;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

.skill-card:hover {
    transform: translateY(-3px);
}

.skill-card.visualparadigm:hover {
    border-color: #CB3131;
}

.skill-card.drawio:hover {
    border-color: #F08705;
}

.skill-card.balsamiq:hover {
    border-color: #AE1C59;
}

.skill-card.illustrator:hover {
    border-color: #FF9A00;
}

.skill-card.figma:hover {
    border-color: #0ACF83;
}

.skill-card.wix:hover {
    border-color: #ffffff;
}

.skill-card.shopify:hover {
    border-color: #7CB342;
}

.skill-card.scrumpoker:hover {
    border-color: #4E9CB0;
}

.skill-card.easyretro:hover {
    border-color: #2467F3;
}

.skill-card.jira:hover {
    border-color: #2684FF;
}

.skill-card.confluence:hover {
    border-color: #2684FF;
}

.skill-card.github:hover {
    border-color: #2dba4e;
}

.skill-card.azuredevops:hover {
    border-color: #0075D1;
}

.skill-card-img {
    max-height: 38px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.home-image {
    width: 60%;
    height: auto;
    border-radius: 8px;
}

.resume-image {
    display: none;
}

@media (max-width: 1024px) {
    .about-grid {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .about-text-container {
        max-width: 100%;
    }

    .about-grid-home {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .about-grid-skills {
        max-width: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .image-container {
        display: none;
    }

    .resume-image {
        display: inline-flex;
        float: right;
        height: 15rem;
    }

}