:root {
    --color-background: #252424;
    /*achtergrond*/
    --color-accentGrey: #70798c;
    /*randen, secondary text*/
    --color-accentBlue: #00a8e8;
    /*hover, links, buttons*/
    --color-accentDarkBlue: #003459;
    /*titels, text highlights*/
    --color-accentGreenBlue: #007ea7;
    /*subaccent, iconen, subtiele highlights*/
    --color-accentgreen: #3bc14a;
    /*succes bevestigingen*/
    --color-accentDarkerGreen: #4da167;
    --color-text: #ffffff;

    --primary: hsl(239, 84%, 67%);
    /* blue  */
    --secondary: hsl(195, 100%, 50%);
    /* lightblue */
    --thirtiary: hsl(0, 0%, 85%);
    /* gray accent */
    --background: hsl(230, 60%, 6%);
    /* Background gradient */
    --background-accent: hsl(230, 50%, 3%);
    /* donkerder */

    --gray-300: hsl(230, 10%, 70%);
    --gray-500: hsl(230, 10%, 50%);
    --gray-700: hsl(230, 10%, 30%);
}

html {
    font-size: 14px;
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

@media screen and (max-width: 1024px) {

    html,
    body {
        height: 103%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

}

body {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, var(--background) 0%, var(--background) 50%, hsla(239, 84%, 67%, 0.1) 100%);
    color: var(--color-text);
}

nav,
footer {
    display: flex;
    background-color: var(--background);
    color: var(--color-text);
}

nav {
    align-content: center;
    align-items: center;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-accentGrey);
    height: 70px;
}

.navlink {
    color: var(--color-text) !important;
    text-decoration: none;
}

.navlink:hover {
    color: var(--color-accentGreenBlue) !important;
    text-decoration: none;
    border: solid 1px var(--color-accentGreenBlue);
    border-radius: 8px;
}

.navlink.active {
    color: var(--color-accentGreenBlue) !important;
    border: solid 1px var(--color-accentGreenBlue);
    border-radius: 8px;
}

ul {
    gap: 20px;
}


section {
    height: fit-content;
    padding: 4rem 0;
}

div {
    display: block;
}

footer {
    padding: 1rem;
    text-align: center;
    color: var(--color-text);
    border-top: 1px solid var(--color-accentGrey);
}

.footer-div {
    display: flex;
    color: var(--color-text);
    justify-content: center;
    gap: 150px;
    align-items: center;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: -.05em;
}

h1,
h2,
h3 {
    color: var(--secondary);
    text-transform: uppercase;
}


label,
h4,
h5,
h6 {
    color: var(--secondary);
}

p {
    color: var(--color-text);
}

img {
    max-width: 100%;
    height: auto;
}

.linkimage {
    width: 42px;
    height: 42px;
    margin: 0px;
    border-radius: 0%;
}

.linkimage.github-white {
    filter: invert(100%) brightness(200%);
}

button {
    background-color: var(--secondary);
    color: var(--color-background);
}

.page {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

@media (min-width: 1002px) {
    .page {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 1024px) {
    .page {
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        align-items: center;
    }

    section {
        height: fit-content;
        padding-top: 1rem;
    }
}



.divtext {
    align-content: center;
    padding: 0.5rem;
    border: 1px solid var(--color-accentGrey);
    border-radius: 8px;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}

.sidePanel {
    max-width: 450px;
}

.resume-container {
    max-width: 800px;
}

@media (max-width: 1024px) {
    .divtext {
        width: 100%;
    }

    .sidePanel {
        max-width: 100%;
    }

    .sidePanel.item-b {
        display: none;
    }

    .resume-container {
        max-width: 100%;
    }

}

.LeftPanel {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-right: 1px solid var(--color-accentGrey);
    border-radius: 8px;
    font-size: 14px;
    width: 350px;
}

@media (min-width: 1025px) {
    .RightPanel {
        position: fixed;
            top: 10;
            z-index: 100;
    }
}

.RightPanel {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-left: 1px solid var(--color-accentGrey);
    border-radius: 8px;
    font-size: 14px;
    width: 350px;
}

hr {
    border: none;
    border-top: 3px solid var(--color-accentGrey);
    margin: 1rem 0;
    width: 100%;
}

span {
    font-size: 11px;
}

.links {
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.links a {
    text-decoration: none;
}

.links a img {
    border: none;
}

.skillsTitle {
    color: white;
    text-transform: lowercase;
}

.profile-content__category-title {
    color: var(--text-color);
    align-items: center;
}

.profile-content__title {
    color: var(--text-color);
    font-weight: bold;
}


.profile-content__element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin: 0px;
    color: var(--text-color);
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

@media only screen and (min-width: 1024px) {
    .profile-content__title {
        font-size: 18px;
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0px;
        color: var(--text-color);
    }

}

.fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: none;
}