/* :root {
    --color-background: #0D1117;
    --color-text: #C9D1D9;
    --color-accent: #58A6FF;
} */
:root{
    --color-background: #252424; /*achtergrond*/
    --color-accentGrey: #70798c; /*randen, secondary text*/
    --color-accentBlue: #00a8e8; /*hover, links, buttons*/
    --color-accentDarkBlue: #003459; /*titels, text highlights*/
    --color-accentGreenBlue: #007ea7; /*subaccent, iconen, subtiele highlights*/
    --color-accentgreen: #3bc14a; /*succes bevestigingen*/
    --color-accentDarkerGreen: #4da167; 
    /* --color-text: #C9D1D9; */
    --color-text: #ffffff;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-content: center;
    align-items: center;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-accentGrey);
}

.navlink {
    color: var(--color-text) !important;
    text-decoration: none;
    font-weight: bold;
}

    .navlink:hover {
        color: var(--color-accentGreenBlue) !important;
        text-decoration: none;
    }

    .navlink.active {
        color: var(--color-accentGreenBlue) !important;
        font-weight: bold;
    }

ul {
    gap: 20px;
}

body {
    padding-top: 70px;
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
}

footer {
    padding: 1rem;
    text-align: center;
    color: var(--color-text);
    border-top: 1px solid var(--color-accentGrey);
}

.footer-div {
    display: flex;
    color: var(--color-text);
    justify-content: center;
}

nav, footer {
    display: flex;
    background-color: var(--color-background);
    color: var(--color-text);
}

h1, h2, h3 {
    color: var(--color-accentBlue);
    text-transform: uppercase;
}

label, h4, h5, h6 {
    color: var(--color-accentBlue);
}

p {
    color: var(--color-text);
}

img {
    height: 230px;
    border-radius: 50%;
    margin: 20px;
}
.linkimage {
    width: 42px;
    height: 42px;
    margin: 0px;
    border-radius: 0%;
}
.linkimage.github-white {
  filter: invert(100%) brightness(200%);
}

button {
    background-color: var(--color-accentBlue);
    color: var(--color-background);
}

.page{
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    /* display: contents; */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto;
    grid-gap: 24px;
}

@media (min-width: 768px) {
    .page {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
}

.divtext {
    align-content: center;
    padding: 0.5rem;
    border: 1px solid var(--color-accentGrey);
    border-radius: 15px;
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}

.sidePanel {
    max-width: 450px;
}

.LeftPanel {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border: 1px solid var(--color-accentGrey);
    border-radius: 15px;
    font-size: 14px;
    width: 350px;
}

hr {
    border: none;
    border-top: 3px solid var(--color-accentGrey);
    margin: 1rem 0;
    width: 100%;
}

span {
    font-size: 11px;
}
.links {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center; 
    justify-content: center; 
}
