:root {
    --color-background: #252424;
    --color-background2: #3d3c3c;
    --color-accentGrey: #70798c;
    --color-accentBlue: #00a8e8;
    --color-accentDarkBlue: #003459;
    --color-accentGreenBlue: #007ea7;
    --color-accentgreen: #3bc14a;
    --color-accentDarkerGreen: #4da167;
    --color-text: #ffffff;
    --beginner: 20%;
    --average: 40%;
    --good: 60%;
    --intermediate: 80%;
    --expert: 100%;

    --primary: hsl(239, 84%, 67%);
    /* blue  */
    --secondary: hsl(195, 100%, 50%);
    /* lightblue */
    --thirtiary: hsl(0, 0%, 85%);
    /* gray accent */
    --background: hsl(230, 60%, 6%);
    /* Background gradient */
    --background-accent: hsl(230, 50%, 3%);
    /* donkerder */

    --gray-300: hsl(230, 10%, 70%);
    --gray-500: hsl(230, 10%, 50%);
    --gray-700: hsl(230, 10%, 30%);
}

.skills-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.skills-description {
    color: white;
    font-size: .9rem;
    line-height: 1.6;
}

.skills-category-grid {
    display: flex;
    gap: 2rem;
}

.skills-category {
    padding: 1.5rem;
    border-radius: 12px;
    background: var(--gray-700);
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .05);
}

.skills-category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--secondary);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
}

.skills-item {
    position: relative;
    background: var(--gray-700);
    color: white;
    border-radius: 8px;
    padding: 1rem;
    transition: all .3s ease;
    border: 2px solid transparent;
    cursor: pointer;
    overflow: hidden;
    width: 145px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
}

.skills-item:hover {
    transform: translateY(-3px);
}

.skills-item.html:hover {
    border-color: #FF6D00;
}

.skills-item.css:hover {
    border-color: #039BE5;
}

.skills-item.typescript:hover {
    border-color: #1976D2;
}

.skills-item.javascript:hover {
    border-color: #FFD600;
}

.skills-item.svelte:hover {
    border-color: #EF4823;
}

.skills-item.csharp:hover {
    border-color: #69F0AE;
}

.skills-item.cpp:hover {
    border-color: #659AD2;
}

.skills-item.java:hover {
    border-color: #1565C0;
}


.skills-item.php:hover {
    border-color: #8B6F9E;
}

.skills-item.mysql:hover {
    border-color: #DF781F;
    /* #00796B */
}

.skills-item.sqlite:hover {
    border-color: #72C1EB;
}

.skills-item.mariadb:hover {
    border-color: #006064;
}

.skills-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    position: relative;
}

.item-a {
    order: 1;
}

.item-b {
    order: 2;
}

@media (max-width: 1024px) {
    .skills-category-grid {
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
        gap: 1rem;
    }

    .item-a {
        order: 2;
    }

    .item-b {
        order: 1;
    }
}