:root {
    --color-background: #252424;
    --color-background2: #3d3c3c;
    --color-accentGrey: #70798c;
    --color-accentBlue: #00a8e8;
    --color-accentDarkBlue: #003459;
    --color-accentGreenBlue: #007ea7;
    --color-accentgreen: #3bc14a;
    --color-accentDarkerGreen: #4da167;
    --color-text: #ffffff;
    --beginner: 20%;
    --average: 40%;
    --good: 60%;
    --intermediate: 80%;
    --expert: 100%;

}

/* style="--category-gradient:linear-gradient(135deg, #4834D4 0%, #686DE0 100%)"*/

.skills-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    border: #00a8e8 1px solid;
}

.skills-description {
    color: white;
    font-size: .9rem;
    line-height: 1.6;
}

.skills-category-grid {
    display: flex;
    gap: 2rem;
}

.skills-category {
    padding: 1.5rem;
    border-radius: 12px;
    background: var(--color-background2);
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .05);
}

.skills-category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: green;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
}

.skills-item {
    position: relative;
    background: rgba(255, 255, 255, .95);
    color: black;
    border-radius: 8px;
    padding: 1rem;
    transition: all .3s ease;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid transparent;
    min-width: 120px;
    min-height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
}

.skills-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .75rem;
    position: relative;
}