:root {
    --color-text: #ffffff;
    /* Text color */
    --primary: hsl(239, 84%, 67%);
    /* blue  */
    --secondary: hsl(195, 100%, 50%);
    /* lightblue */
    --thirtiary: hsl(0, 0%, 85%);
    /* gray accent */
    --background: hsl(230, 60%, 6%);
    /* Background gradient */
    --background-accent: hsl(230, 50%, 3%);
    /* donkerder */

    --gray-300: hsl(230, 10%, 70%);
    --gray-500: hsl(230, 10%, 50%);
    --gray-700: hsl(230, 10%, 30%);
}

.tooltip-container {
    display: inline-block;
    position: relative;
}

.tooltip-target {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.tooltip-target:hover svg {
    fill: var(--secondary);

}

.tooltip-box {
    visibility: hidden;
    opacity: 0;
    background-color: #333;
    color: #fff;
    text-align: left;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    z-index: 1000;
    font-size: 0.9rem;
    line-height: 1.4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: opacity 0.3s ease;
}

.timeline-dot:hover .tooltip-container .tooltip-box {
    visibility: visible;
    opacity: 1;
}

.tooltip-container:hover .tooltip-box {
    visibility: visible;
}

.Tooltip-List {
    padding-left: 1.2em;
    margin: 0;
    font-size: 0.85rem;
    list-style-type: disc;
}

@media screen and (max-width: 1024px) {

    .tooltip-box {
        position: absolute;
        width: 250px;
    }
}